body
{
	background-color: #f7e054;
	background-image: url('stripes.png');
	padding: 0;
	margin: 0;
	color: #000000;
	font-family: verdana, geneva, sans-serif;
}

#begabox
{
	background-image: url('begaback.png');
	width: 600px;
	height: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}

#babyname
{
	font-size: 2.5em;
	font-weight: bold;
	z-index: 1;
}

#namecontainer
{
	width: 50%;
	height: 30%;
	top: 55%;
	left: 5%;
	position: relative;
}

#star
{
	z-index: -1;
	background-image: url('star.png');
	width: 400px;
	height: 400px;
	position: relative;
	left: -150px;
	top: -50px;
}

#footer
{
	font-size: 0.55em;
	text-align: center;
	margin: 180px auto;
}
